$font-family: Arial, Helvetica, sans-serif;
ion-grid{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
ion-button {
    text-decoration: none;
    width: 95%;
    height: 60px;
    margin-top: 30px;
    --border-radius: 10px;
    font-size: 1rem;
    font-family: $font-family;
    --background: rgb(72, 135, 252);
    // @extend %margin-top;
  }
  .face-icon{
    margin-top: 15%;
    width: 10vw;
  }
  h1{
    color: rgb(22, 127, 247);
    font-family: $font-family;
    font-weight: 700;
    font-size: 1.6rem;
  }
  p{
    font-size: 1rem;
  }
  .person{

  }