$font-family: Inter;

ion-content {
  --background: #f7f7f7;
}
ion-button {
  text-decoration: none;
  width: 100%;
  height: 80px;
  margin-top: 30px;
  --border-radius: 10px;
  font-size: 1.4rem;
  font-family: $font-family;
  // @extend %margin-top;
}
h1 {
  font-weight: 700;
  font-size: 1.3rem;
  font-family: $font-family;
}

h2 {
  color: #167ff7;
  font-size: 1.6rem;
  font-weight: 700;
  font-family: Inter;
}

ion-list {
  width: 100%;
  --border-radius: 50px;
}
ion-label {
  font-family: $font-family;
}
ion-input {
  margin-top: 20px;
  --color: rgb(107, 107, 107);
  font-family: $font-family;
}
ion-select {
  width: 100%;
  margin-top: 20px;
  --color: rgb(107, 107, 107);
}

ion-card-title {
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 24px;
  letter-spacing: 0.374px;
  font-family: $font-family;
  color: #031a2e;
}

ion-card-subtitle {
  font-size: 1.3rem;
  font-family: $font-family;
  font-style: normal;
}

ion-card {
  border-radius: 10px;
  margin-top: 0;
  margin-bottom: 0;
}

ion-card-header {
  text-align: start;
  font-family: $font-family;
}

// Defina o estilo padrão para a label
ion-item {
  ion-label {
    color: rgb(107, 107, 107); // Cor padrão para a label
  }

  ion-input {
    color: rgb(107, 107, 107); // Cor padrão para o texto de entrada
  }

  // Estilize a mensagem de erro
  &.ion-item-invalid {
    ion-label {
      color: red; // Cor vermelha para a label quando o campo é inválido
    }

    ion-input {
      color: red; // Cor vermelha para o texto de entrada quando o campo é inválido
    }

    // Adicione estilos para a mensagem de erro
  }
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 8px;
}
