<ion-content [fullscreen]="true">
  <ion-grid
    class="ion-text-center ion-justify-content-center ion-align-items-center"
    *ngIf="protocolo">

    <div class="container-img">
      <ion-img id="protocolo-img" src="../../../assets/protocolo.png"></ion-img>
    </div>
    <ion-row>
      <ion-col>
        <h5>
          <b>Protocolo do Atendimento</b>
        </h5>
        <p class="protocolo">{{ protocolo }}</p>
        <p class="text">
          Retire seu protocolo na impressora e aguarde ser chamado pelo painel.
        </p>
        <div class="container-btn">
          <ion-button [routerLink]="['/home']">Voltar ao início</ion-button>
          <ion-button fill="outline" (click)="imprimir(protocolo)">Imprimir Novamente</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
