$font-family: Arial, Helvetica, sans-serif;
ion-content{
  background-color: #f7f7f7;
}
ion-grid{
  background-color: #f7f7f7;
  height: 100vh;
}
h1{
    
    color: rgb(22, 127, 247);
    font-family: $font-family;
    font-weight: 700;
    font-size: 1.4rem;
  }
  p{
    margin-top: 0%;
    font-size: 0.9rem;
    
  }
  ion-button {
    text-decoration: none;
    width: 95%;
    height: 60px;
    margin-top: 30px;
    --border-radius: 10px;
    font-size: 1rem;
    font-family: $font-family;
  
    // @extend %margin-top;
  }
  .back{
    margin-top: 0%;
  }
  .steps{
    display: flex;
    ion-img{
        width: 30px;
    }
    h2{
        font-size: 1rem;
        font-family: $font-family;
    }
    p{
        margin-top: 0%;
        font-size: 1rem;
        
      }
    .flex-center{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        
    }
  }
  .margin-left{
    margin-left: 15px;
  }