<ion-content [fullscreen]="true" class="ion-align-items-center">
    <ion-grid >
        <ion-row class="ion-align-items-center ion-justify-content-center row-center">
            <ion-img src="../../../assets/home/Illustrasi(1).png"></ion-img>
            <h1 class="">Seja Bem-vindo</h1>
            <p class="ion-text-center ">Lorem Ipsum is simply dummy text of the printing </p>
            <ion-button (click)="goPublicSearch()">Fazer busca</ion-button>
        </ion-row>
    </ion-grid>
</ion-content>