$font-family: Inter;
ion-menu-button {
  width: 50px;
  --background: rgb(255, 255, 255);
}

ion-toolbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  ion-title {
    font-family: $font-family;
    font-size: 1rem;
  }
  ion-button {
    height: 40px;
    margin-top: 0px;
    --background: transparent !important;
  }
}

%margin-top {
  margin-top: 30px;
}
.btn-consulta {
  --background: white;
  --border-color: rgb(72, 135, 252);
  --color: rgb(72, 135, 252);
  --border-style: solid;
  --border-width: 1px;
}

ion-grid {
  height: 85%;
  display: flex;
  justify-content: center;
}
.row-center {
  width: 100%;
  flex-direction: column !important;
  height: 100%;
}
ion-img {
  width: 100%;
  height: 200px;
}
h1 {
  @extend %margin-top;
  font-weight: 600;
  font-size: 3rem;
  font-family: $font-family;
}
p {
  @extend %margin-top;
  color: grey;
  font-size: 1.2rem;
  font-family: $font-family;
}
ion-button {
  width: 100%;
  height: 80px;
  --border-radius: 10px;
  font-size: 1.2rem;
  font-family: $font-family;
  --background: rgb(72, 135, 252);
  @extend %margin-top;
}
.col-center {
  justify-content: flex-start !important;
  width: 100%;
  flex-direction: column !important;
  height: 100%;
}

@media (min-width: 1025px) {
  .row-center {
    width: 100%;
    flex-direction: row !important;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-busca {
    width: 60%;
  }
  .col-center {
    background-color: #f7f7f7;
    width: 100%;
    flex-direction: column !important;
    justify-content: center !important;
    height: 100%;
  }
}
