<!-- <ion-header>
    <ion-toolbar color="primary-one" >
      <ion-buttons slot="start" [routerLink]="['/login']">
        <ion-button >
            <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="ion-text-center">{{ this.options.descricao + ' | ' + this.options.codigo }}</ion-title>
    </ion-toolbar>
  </ion-header> -->

<ion-content [fullscreen]="true" class="ion-align-items-center">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button (click)="openMenu()"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-grid>
    <ion-row
      class="ion-align-items-center ion-justify-content-center row-center"
    >
      <ion-col
        size-lg="6"
        class="ion-align-items-end ion-justify-content-center"
        style="display: flex"
      >
        <ion-img src="../../../assets/home/reboque.png"></ion-img>
      </ion-col>
      <ion-col
        size-lg="6"
        class="ion-align-items-center ion-justify-content-center col-center"
        style="display: flex; flex: 2"
      >
        <h1 class="ion-text-center">Seja Bem-vindo</h1>
        <p class="ion-text-center">Escolha a opção desejada abaixo</p>
        <ion-button (click)="goPublicSearch()" class="btn-busca"
          >Iniciar Auto Atendimento</ion-button
        >
        <ion-button (click)="goQuery()" class="btn-busca" color="warning"
          >Pagamento</ion-button
        >
        <ion-button [routerLink]="['/protocol']" class="btn-busca btn-consulta"
          >Atendimento no Guichê</ion-button
        >
        <div *ngIf="image">
          <img [src]="image" alt="" srcset="" />
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
