<ion-content [fullscreen]="true">
  <ion-grid [formGroup]="form">
    <ion-row class="ion-justify-content-center row-center">
      <h1>Busca de Veículo</h1>
      <p class="ion-text-center">
        Digite a placa do seu veículo para iniciar a liberação
      </p>
    </ion-row>
    <ion-list>
      <ion-item class="ion-justify-content-start">
        <ion-label position="floating">Placa</ion-label>
        <ion-input
          (ionChange)="inputChangedPlaca($event)"
          placeholder="Digite a placa do veiculo"
          formControlName="placa"
          maxlength="7"
        ></ion-input>
      </ion-item>
      <!-- <ion-item counter="true">
        <ion-input placeholder="Digite o RENAVAM"></ion-input>
      </ion-item> -->
      <ion-item
        counter="true"
        lines="none"
        class="ion-justify-content-start ion-align-items-center"
        *ngIf="error"
      >
        <ion-img
          src="../../../assets/public-search/dashicons_warning.png"
        ></ion-img>
        <p class="warning">{{msgError}}</p>
      </ion-item>
    </ion-list>
    <ion-button (click)="consultarDebito()" class="btn-search"
      >Buscar</ion-button
    >
    <ion-button fill="outline" [routerLink]="['/term-acception']"
      >Voltar</ion-button
    >
    <div class="loading" *ngIf="loading">
      <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </ion-grid>
</ion-content>
