$font-family: Arial, Helvetica, sans-serif;
  ion-button {
    text-decoration: none;
    width: 100%;
    height: 60px;
    margin-top: 30px;
    --border-radius: 10px;
    font-size: 1rem;
    font-family: $font-family;
    --background: rgb(72, 135, 252);
    // @extend %margin-top;
  }
  ion-list{
    width: 100%;
    --border-radius:50px;
  }
  ion-input{
    margin-top: 20px;
    --color:rgb(107, 107, 107);
  }