<ion-grid >
    <ion-list >
        <ion-item class="ion-justify-content-start" >
            <ion-input placeholder="Digite seu nome completo"></ion-input>
        </ion-item>
        <ion-item counter="true">
            <ion-input placeholder="Digite sua data de nascimento"></ion-input>
        </ion-item>
        <ion-item class="ion-justify-content-start" >
            <ion-input placeholder="Digite seu CPF"></ion-input>
        </ion-item>
        <ion-item counter="true">
            <ion-input placeholder="Digite sua CNH"></ion-input>
        </ion-item>
        <ion-item class="ion-justify-content-start" >
            <ion-input placeholder="Digite seu telefone"></ion-input>
        </ion-item>
        <ion-item counter="true">
            <ion-input placeholder="Digite seu email"></ion-input>
        </ion-item>
    </ion-list>

</ion-grid>