<ion-content [fullscreen]="true">
    <ion-grid class=" ion-align-items-center">
        <ion-row class=" row-title ion-justify-content-start ion-align-items-center">
            <ion-col>
                <h1>Seu Qr Code </h1>
                <p>Escaneie o Qr Code ou copie o código</p>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-img [src]="'data:image/jpeg;base64,'+ optionsConsulta?.informacaoPixEstatico?.qrCode"></ion-img>
                <!-- <p class="ion-text-center expiration">Expira hoje às 23:59 </p> -->
            </ion-col>
        </ion-row>
        <ion-row class=" row-title value ion-justify-content-start ion-align-items-center">
            <ion-col>
                <h2>Valor</h2>
                <p><b>{{valorTotal}}</b></p>
            </ion-col>
        </ion-row>
        <ion-row class=" row-title detalhe ion-justify-content-start ion-align-items-center">
            <ion-col size="12">
                <h1><b>Detalhes da cobrança</b> </h1>
                <h2>Chave PIX</h2>
            </ion-col>
            <ion-col size="12">
                <p ><b>{{optionsConsulta?.informacaoPixEstatico?.chave}}</b></p>
                <!-- <ion-img  src="../../../../assets/pix/copiaecola.png"></ion-img> -->
            </ion-col>

        </ion-row>
        
</ion-grid>
    <ion-row class="row-buttons ion-justify-content-center">
        <ion-button  [routerLink]="['/payment-confirmed']" >Enviar por email</ion-button>
        <ion-button  fill="outline" class="back" [routerLink]="['/payment']">Fechar</ion-button>
    </ion-row>
        
</ion-content>