<ion-content [fullscreen]="true">
  <app-toolbar></app-toolbar>
  <ion-grid class="ion-text-center ion-align-items-center">
    <h1>TERMOS PARA RETIRADA DO VEÍCULO</h1>
    <p class="scrollable" [innerHTML]="termos" *ngIf="termos"></p>
    <ion-list>
      <ion-item>
        <ion-label>Li os termos e aceito</ion-label>
        <ion-checkbox slot="end" [(ngModel)]="value"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-button
      [routerLink]="['/public-search']"
      class="btn-search"
      [disabled]="!value"
      >Continuar</ion-button
    >
    <ion-button fill="outline" [routerLink]="['/home']">Voltar</ion-button>
  </ion-grid>
</ion-content>
