<ion-content [fullscreen]="true" class="payment-confirmed-page">
  <app-toolbar></app-toolbar>

  <div class="success-container">
    <div class="success-animation">
      <ion-img src="../../../../assets/payment-confirmed/check.png" class="success-icon"></ion-img>
      <div class="success-circle"></div>
    </div>
    
    <div class="success-message">
      <h1>Pagamento confirmado!</h1>
      <p>Seu pagamento foi processado com sucesso. Agora você pode retirar seu veículo.</p>
    </div>
    
    <div class="action-container">
      <ion-button expand="block" class="print-button" (click)="imprimirGuia()">
        <ion-icon name="print-outline" slot="start"></ion-icon>
        Imprimir Guia de Liberação
      </ion-button>

      <ion-button expand="block" class="print-button" (click)="imprimirComprovante()">
        <ion-icon name="print-outline" slot="start"></ion-icon>
        Imprimir Comprovante
      </ion-button>


      <ion-button expand="block" fill="outline" class="home-button" routerLink="/home">
        <ion-icon name="home-outline" slot="start"></ion-icon>
        Voltar ao Início
      </ion-button>
    </div>
  </div>

  <div class="loading-overlay" *ngIf="imprimindo">
    <div class="loading-content">
      <div class="lds-roller">
        <div></div><div></div><div></div><div></div>
        <div></div><div></div><div></div><div></div>
      </div>
      <p>Preparando sua guia de liberação...</p>
    </div>
  </div>
</ion-content>
