<ion-content [fullscreen]="true" >
    <ion-grid class="ion-text-center ion-align-items-center">
        <ion-img class="face-icon" src="../../../assets/facial-recognition/tabler-icon-face-id.png"></ion-img>
        <h1>Reconhecimento facial</h1>
        <p>Escolha um ambiente bem iluminado<br> 
            e não use nada que esconda o seu rosto</p>
        <ion-img class="person" src="../../../assets/facial-recognition/ilustra-desktop-003 1.png"></ion-img>
        <p>Essa validação é apenas uma etapa de segurança</p>
        <ion-button [routerLink]="['/document-upload']">Tirar foto</ion-button>
     </ion-grid>
</ion-content>        