<ion-content [fullscreen]="true">
  <app-toolbar></app-toolbar>
  <ion-grid class="ion-text-center ion-align-items-center">
    <h1>Tire uma foto</h1>
    <p>
      Posicione-se em frente a câmera<br />
      e não use nada que esconda o seu rosto
    </p>
    <!-- <ion-img
      class="person"
      src="../../../assets/facial-recognition/selfie 1.png"
    ></ion-img> -->
    <div id="preview"></div>
    <!-- <ion-img
      src="../../../assets/facial-recognition/camera.png"
      class="olhe-camera"
    ></ion-img> -->
    <ion-button (click)="takePicture()" class="btn-enviar"
      >Tirar foto</ion-button
    >
    <ion-button fill="outline">Voltar</ion-button>
  </ion-grid>
</ion-content>
