<ion-grid >

    <ion-list >
        <ion-item class="ion-justify-content-start" >
            <ion-input placeholder="Digite seu CEP"></ion-input>
        </ion-item>
        <ion-item counter="true">
            <ion-input placeholder="Digite sua rua"></ion-input>
        </ion-item>
        <ion-item class="ion-justify-content-start" >
            <ion-input placeholder="Digite o número"></ion-input>
        </ion-item>
        <ion-item counter="true">
            <ion-input placeholder="Complemento"></ion-input>
        </ion-item>
        <ion-item class="ion-justify-content-start" >
            <ion-select placeholder="Selecione o estado"></ion-select>
        </ion-item>
        <ion-item counter="true">
            <ion-select placeholder="Selecione a cidade"></ion-select>
        </ion-item>
    </ion-list>

</ion-grid>