<ion-content [fullscreen]="true" >
    <ion-grid class="ion-text-center ion-align-items-center">
        <!-- <ion-img class="face-icon picture-1" src="../../../assets/facial-recognition/tabler-icon-face-id.png"></ion-img>
        <ion-img class=" picture-2" style="display: none;" src="../../../assets/facial-recognition/recognition.png"></ion-img> -->
        <h1 style="margin-top: 170px">Veja como ficou a sua foto</h1>
        <p>Se a foto ficar boa clique em enviar ou <br> você pode tirar outra</p>
        <ion-img class="person" [src]="options?.fotoFacial?.base64"></ion-img>
        <p>Essa validação é apenas uma etapa de segurança</p>
        <ion-button  (click)="documentUpload()" class="btn-enviar">Enviar</ion-button>
        <ion-button fill="outline" [routerLink]="['/facial-recognition']">Tirar outra foto</ion-button>
     </ion-grid>
</ion-content>        