<ion-content [fullscreen]="true" [formGroup]="form">
    <ion-grid class="ion-text-center">
        <div class=" verify" lines="none" >
            <h1>Informe o protocolo</h1>
          </div>
      <ion-card>
        <ion-card-content >
            <ion-list>
                <ion-item>
                    <ion-input class="ion-text-center" formControlName="campo" ></ion-input>
                </ion-item>
            </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-grid>
    
    <ion-row   class="col-btn">
      <ion-button  (click)="consultarDebito()">Consultar</ion-button>
    </ion-row>
  </ion-content>

<!-- <ion-content [fullscreen]="true">
    <ion-grid [formGroup]="form">
        <ion-row class="ion-justify-content-center row-center">
            <h1>Busca Pública</h1>
            <p class="ion-text-center ">Bem-vindo, digite os dados do seu veículo <br> para iniciar a liberação</p>
           
        </ion-row>
        <ion-list >
            <ion-item class="ion-justify-content-start" >
                <ion-input placeholder="Digite a placa ou GRV" formControlName="campo"></ion-input>
            </ion-item>
            <ion-item counter="true">
                <ion-input placeholder="Digite o RENAVAM"></ion-input>
            </ion-item>
            <ion-item counter="true" lines="none" class="ion-justify-content-start ion-align-items-center" >
                <!-- <ion-img src="../../../assets/public-search/dashicons_warning.png"></ion-img> -->
                <!-- <p class="warning">Os dados estão incorretos, verifique novamente</p> -->
            <!-- </ion-item>
        </ion-list>
         <ion-button (click)="consultarDebito()" class="btn-search">Buscar</ion-button>
    </ion-grid>
</ion-content> --> -->