$font-family: Arial, Helvetica, sans-serif;
ion-content{
    --background:rgba(233, 233, 233, 0.2);
}
ion-grid{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
ion-button {
    text-decoration: none;
    width: 95%;
    height: 60px;
    margin-top: 30px;
    --border-radius: 10px;
    font-size: 1rem;
    font-family: $font-family;
    --background: rgb(72, 135, 252);
    // @extend %margin-top;
  }

  h1{
    margin-top: 15%;
    color: rgb(22, 127, 247);
    font-family: $font-family;
    font-weight: 700;
    font-size: 1.4rem;
  }
  p{
    margin-top: 0%;
    font-size: 1rem;
    
  }
  ion-row{
    width: 98%;
    
  }
  ion-card {
    width: 98%;
    height: 70px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    b {
      color: black;
    }
    ion-card-content{
        height: 100%;
    }
  }
  ion-card:hover {
    border: 1px solid blue !important;
  }
  ion-item{
    ion-img{
        width: 10vw;
        margin-right: 4vw;
    }
  }
  ion-item::part(native) {
    padding-left: 0%;
  }
  .info{
    display: flex;
    align-items:center;
    justify-content: space-between;
  }
  .border{
    border:1px solid rgb(0, 119, 255) !important;
  }